.donaciones {
  font-size: 40px;
  color: #ffd600;
  display: flex;
  background-color: black;
  text-align: center;
  justify-content: center;
}

.donacion img {
  margin: 30px;
  width: 200px;
  height: 150px;
}
.donacion img:hover {
  width: 250px;
  height: 200px;
}
